@model LoginModel;

@{ ViewData["Title"] = "Login";
  Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="row" id="divlogin">
  <h3>Acesso ao sistema de vendas</h3>
  <span class="text-danger text-center" id="errologin">@TempData["ErrorLogin"]</span>
  <div class="col-md-12">

    <form method="Post" asp-action="Login" asp-controller="Home">
      <div class="form-group">
        <label for="login">Login: </label>
        <input asp-for="Login" class="form-control" id="login" />
        <span asp-validation-for="Login" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="senha">Senha: </label>
        <input asp-for="Senha" class="form-control" id="senha" />
        <span asp-validation-for="Senha" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" />
      </div>
    </form>

  </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@section Scripts{
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 