@{ 
  var Id = ViewBag.IdProduto;
}

<div class="container">
  <h3 class="text-center">Deseja Excluir o produto permanentemente?</h3>
  <a href="/Produto/Deletar/@Id" class="btn btn-danger">Confirmar</a>
  <a asp-action="Index" asp-controller="Produto" class="btn btn-secondary">Cancelar</a>
</div>