@{
    ViewData["Title"] = "Home Page";
}
<h2 class="text-center">Relatórios do sistema</h2>

<a asp-action="Venda" asp-controller="Relatorio" class="btn btn-primary">Vendas por periodo</a>
<a asp-action="Grafico" asp-controller="Relatorio" class="btn btn-info">Graficos</a>
<a asp-action="Comissao" asp-controller="Relatorio" class="btn btn-warning">Comissão de vendas</a>
